$darkColor: #303030;

#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);

  header {
    grid-column: 2/3;
    grid-row: 1/2;

    nav {
      text-align: right;

      a {
        padding: 12px;
      }
    }
  }

  main {
    grid-column: 2/3;
    grid-row: 2/3;

    table {
      margin-top: 24px;
      border-collapse: collapse;

      tr {
        th,
        td {
          padding: 8px;
          border: 1px solid $darkColor;
        }
      }
    }
  }
}
